.all_poke {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  padding-top: 0;
}
.Pokemon {
  max-width: 16.6%;
  min-width: 16.6%;
}

h2 {
  color: inherit;
  text-decoration: none;
}
h2 {
  box-shadow: inset 0 0 0 0 #319bc2;
  color: #54b3d6;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

h2:hover {
  box-shadow: inset 200px 0 0 0 teal;
}

.heading_pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}
.heading_pokedex h3 {
  display: flex;
  justify-content: center;
}
.back {
  margin: 0;
  padding: 0;
}
