body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
}
/****-----Navbar---****/
.nav-container {
  border-color: white;
  display: flex;
  /* background-color: rgba(25, 73, 232, 0.768); */
  /* border-bottom: 2px solid grey; */
}
.nav-icon {
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
  margin-top: 20px;
}
link {
  display: flex;
  justify-content: space-around;
}
.image {
  margin-top: 20px;
  margin-left: 20px;
}
.image img {
  max-height: 160px;
  max-width: 160px;
}
.nav-icon ul {
  display: flex;
  font-size: 2rem;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
/* p {
      font-size: 2rem;
      color: black;


 
 
 



    } */
.nav-icon ul h5 {
  justify-content: space-around;
  display: flex;
  margin: 10px;
  border: 2px solid white;
}
.header-container {
  margin-top: 10px;
}
.header-container img {
  max-width: 100%;
  min-height: 1200px;
}
.image {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5%; */
  padding: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.freeiconspng.com/thumbs/pokeball-png/file-pokeball-png-0.png");
  max-width: 80%;
  max-height: 80%;
}
.headline {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5%;
}

.leader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.leaderboard-user-container {
  display: flex;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: 1%;
  margin-top: 2%;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: center;
}
h3 {
  width: 25%;
}

.m-title {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 25px;
}

.hero {
  background-image: url("https://i.pinimg.com/originals/69/68/1e/69681ef4639fa37d34c05f824a597cb3.jpg");
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
  min-width: 700px;
}
.help {
  display: flex;
  justify-content: center;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-user-container h3 {
}
